<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="2 Factor Authentication Page">
    <meta name="author" content="Ben S">
    <title>2 Factor Authentication</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          crossorigin="anonymous" />
</head>

<body>
<div class="container">
    <form class="form-signin" method="post" action="/2FA/authenticate">
        <h2 class="form-signin-heading">Please enter your two factor authentication code</h2>
        <div th:if="${isError}">
            <div class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
        </div>
        <p>
            <label for="code" class="sr-only">Two Factor Authentication Code</label>
            <input type="text" id="code" name="code" class="form-control" placeholder="code sent to device" required autofocus>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>
    </form>
</div>
</body>

</html>